html {
  margin: 0;
  padding: 0;
  height: 100%;
  color:#333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.anim-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root,
#router-wrapper {
  height: 100%;
  overflow: hidden;
}

body,
.App {
  font-family: "Roboto";
  height: 100%;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

.navbar {
  display: inline-block;
  position: fixed;
  height: 70px;
  width: 100%;
  padding: 25px 25px 0px 25px;
  animation-duration: 1s;
  animation-name: fadeIn;
  z-index: 100;
  bottom: 0;
}

.navbar a {
  color: #333;
  padding-right: 10px;
}

.navbar li {
  display: inline-block;
  margin-right: 25px;
}

.navbar img {
  max-width: 20px;
}

.navbar button {
  display: inline-block;
  width: 100px;
}

.wrapper-start {
  display: flex;
  height: 100%;
  background: white;
  flex-direction: column-reverse;
}

.wrapper-about {
  display: flex;
  height: 100%;
  background:white;
}

.wrapper-process {
  display: flex;
  height: 100%;
  background:white;
}

.wrapper-contact{
  display: flex;
  height: 100%;
  background:#F68989;
}

.current {
  display: flex;
}

.notCurrent {
  display: none;
}

.intro-left {
  width: 100%;
  flex: 7;
  display: flex;
  align-items: center;
  z-index: 10;
}

.content {
  padding: 25px;
}

.intro-text {
  max-width: 450px;
}

.logo {
  width: 300px;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

.contact-btn {
  background: #56CCF2;
  text-align: center;
  width: 200px;
  height: 40px;
  display: block;
  font-size: 18px;
  color: white;
  border-radius: 30px;
  border: none;
}

h3 {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 300;
}

.intro-overlay {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay-image {
  display: none;
}

.mockup-website {
  will-change: transform;
  /* animation-duration: 0.3s;
  animation-name: moveIn;
  animation-timing-function: ease-in-out; */
  position: relative;
}

.mockup-website.away {
  animation-duration: 0.3s;
  animation-name: moveOut;
  animation-timing-function: ease-in-out;
}

.mockup-website img {
  border-radius: 17px;
  box-shadow: 6px 4px 28px -8px rgba(0, 0, 0, 0.35);
}

.intro-right {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #56CCF2, rgba(86, 204, 242, 0));
  width: 100%;
  flex: 2;
}

.clouds {
  width: 100%;
  margin-top: 20px;
  padding: 0px 30px 0px 10px;
}

.cloud {
  max-width: 150px;
  display: inline-block;
}

.cloud:nth-child(1) {
  margin: 0 auto;
  display: block;
  max-width: 90px;
  animation-duration: 20s;
  animation-name: moveCloud;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.cloud:nth-child(2) {
  animation-duration: 20s;
  animation-name: moveCloud;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.cloud:nth-child(3) {
  float: right;
  clear: both;
  max-width: 130px;
  animation-duration: 25s;
  animation-name: moveCloud2;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

.grounds {
  display: none;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ground:nth-child(1) {
  background: #E0E0E0;
  position: absolute;
  bottom: 0;
  left: -70px;
  border-radius: 100px;
  width: 95%;
  height: 150px;
}

.ground:nth-child(2) {
  background: #F2F2F2;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 50px;
}

.ground:nth-child(3) {
  background: #F2F2F2;
  position: absolute;
  bottom: -60px;
  border-radius: 100px;
  width: 60%;
  height: 150px;
  right: -50px;
}

#sky {
  width: 100%;
  height: 100%;
}

/* ABOUT */

.about-left {
  display: flex;
  flex-direction: column;
  background: #6FCF97;
  justify-content: center;
  width: 100%;
  flex: 2;
}

.about-right {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 4;
}

.about-text {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 200px;
  flex-direction: column;
  justify-content: center;
}

.about-text h1 {
  font-size: 54px;
  margin-bottom: 100px;
}

.about-text h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

.about-text p {
  font-weight: 300;
}

.mockup-phone {
  width: 100%;
  height: auto;
  display: none;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.mockup-phone img {
  max-width: 250px;
}

.mockup-phone-blocks {
  display: none;
  max-width: 250px;
  position: absolute;
  padding: 30px;
  margin-top: 20px;
}

.mockup-phone-blocks img {
  margin-bottom: 15px;
  will-change: transform;
}

.about-boxes {
  width: 100%;
  height: 100%;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  will-change: transform;
}

.about-box {
  width: 200px;
  height: 80px;
  background: white;
  border-radius: 15px;
}

/* PROCESS */

.process-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  flex: 4;
}

.process-left-content {
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}

.process-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
}

.process-box img{
  width: 100%;
  max-width: 130px;
}

.process-box-text {
  padding: 0px 200px;
}

.process-box-text h3 {
  margin-bottom: 10px;
}

.process-right {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #F2994A, rgba(242, 153, 74, 0.4));
  width: 100%;
  flex: 2;
  justify-content: flex-end;
  overflow: hidden;
  position: relative;
}

.process-table {
  padding: 0px 15px;
  width: 600px;
  margin: 0 auto;
}

.process-plane {
  position: absolute;
  left: 200px;
  top: 200px;
  width: 150px;
}

/* CONTACT */

.contact-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 100px;
}

.contact-content img{
  max-width: 250px;
}

.contact-content > div:nth-child(2){
  max-width: 700px;
  padding: 25px;
  text-align: center;
  color: white;
}

.contact-content-text p{
  font-size: 1.2em;
}

.contact-footer {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 25px;
  color: white;
}

.contact-footer h3 {
  margin-bottom: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.contact-footer p {
  font-weight: 300;
}

.contact-button {
  border-radius: 30px;
  background: white;
  color: #333;
  padding: 10px 40px;
  margin-top: 10px;
  display: inline-block;
}

.contact-content-hoggi, .contact-content-isse {
  text-align: center;
  color: white;
}

.contact-content-hoggi p, .contact-content-isse p{
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 15px;
}

.contact-content-hoggi span, .contact-content-isse span{
  font-size: 12px;
}

@media (min-width: 1100px) {
  .navbar {
    bottom: auto;
  }

  .intro-overlay {
    display: flex;
  }

  .wrapper-start {
    flex-direction: row;
  }

  .wrapper-about {
    flex-direction: row;
  }

  .navbar {
    position: fixed;
    height: 70px;
    width: 100%;
    padding: 25px 25px 0px 100px;
    animation-duration: 1s;
    animation-name: fadeIn;
    
  }

  .content {
    padding: 100px;
    margin-bottom: 40px;
  }

  .mockup-website-content {
    display: none;
    position: absolute;
    top: 60px;
    left: 100px;
  }

  .mock-text-top {
    margin-bottom: 30px;
  }

  .mock-text-top .mock-text {
    width: 320px;
    height: 30px;
  }

  .overlay-image {
    display: block;
    max-width: 450px;
    margin-left: 40%;
  }

  .mock-text {
    background: #f3f1f2;
    width: 150px;
    height: 10px;
    border-radius: 50px;
    margin-bottom: 10px;
  }

  .mock-text-left .mock-text:nth-child(1) {
    width: 200px;
  }

  .mock-text-right {
    margin-left: 120px;
    margin-top: 35px;
  }

  .mock-text-right .mock-text:nth-child(-n + 2) {
    width: 200px;
  }

  .grounds {
    display: block;
  }

  .intro-left {
    flex: 4;
  }

  .clouds {
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  .intro-text {
    max-width: 500px;
  }
}

@media (min-width: 1500px) {
  .mockup-website-content {
    top: 90px;
    left: 180px;
  }

  .mock-text {
    background: #f3f1f2;
    width: 200px;
    height: 15px;
    border-radius: 50px;
    margin-bottom: 15px;
  }

  .mock-text-left .mock-text:nth-child(1) {
    width: 300px;
  }

  .mock-text-top {
    margin-bottom: 50px;
  }

  .mock-text-top .mock-text {
    width: 450px;
    height: 40px;
  }

  .mock-text-right {
    margin-left: 150px;
    margin-top: 50px;
  }

  .mock-text-right .mock-text:nth-child(-n + 2) {
    width: 300px;
  }

  .overlay-image {
    max-width: 700px;
  }
}

/* Animations */

.fadeTranslate-enter {
  opacity: 0;
  transform: translate(0, -3vh);
  position: fixed;
}

.fadeTranslate-enter.fadeTranslate-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: opacity 500ms ease-in 500ms, transform 500ms ease-in-out 500ms;
}

.fadeTranslate-exit {
  opacity: 1;
  position: fixed;
  transform: translate(0, 0);
}

.fadeTranslate-exit.fadeTranslate-exit-active {
  opacity: 0;
  transform: translate(0, 3vh);
  transition: opacity 300ms ease-in, transform 300ms ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes moveIn {
  from {
    -webkit-transform: translateY(-800px);
    transform: translateY(-800px);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes moveOut {
  from {
    -webkit-transform: none;
    transform: none;
  }

  to {
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
  }
}

@keyframes moveCloud {
  0% {
    transform: translate(0px);
  }

  50% {
    transform: translate(20px);
  }

  100% {
    transform: translate(0px);
  }
}

@keyframes moveCloud2 {
  0% {
    transform: translate(0px);
  }

  50% {
    transform: translate(-20px);
  }

  100% {
    transform: translate(0px);
  }
}
